@font-face {
    font-family:"NotoSans-Regular";
    src: url("../Fonts/B/NotoSans-Regular.ttf") format("truetype");
}

.task-container {
    display: flex;
    align-items: center;
    background: white;
    width: 359px;
    height: 80px;
    border-radius: 7px;
    margin-bottom: 10px;
}

.task-cercle {
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    border-color: rgb(167, 167, 167);
    width: 35px;
    height: 35px;
    margin-left: 20px;
    cursor: pointer;

}

.task-name {
    font-size: 1.1rem;
    margin-left: 15px;
    color: rgb(49, 50, 89);
    font-family:"NotoSans-Regular";
}