.add-task__container {
    /* background-color: rgb(244, 247, 250); */
    width: 375px;
    height: 654px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.add-task__container::-webkit-scrollbar {
    display: none;
}