@font-face {
    font-family:"NotoSans-Regular";
    src: url("../Fonts/B/NotoSans-Regular.ttf") format("truetype");
  }

.completed-task__container {
    display: flex;
    align-items: center;
    background: transparent;
    width: 359px;
    height: 80px;
    margin-bottom: 10px;
    border-bottom-color: rgb(196, 194, 194);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.completed-task-name {
    font-size: 1.1rem;
    margin-left: 15px;
    text-decoration: line-through;
    font-family:"NotoSans-Regular";
    color: rgb(196, 194, 194);
}

.checkmark {
    width:35px;
    height:35px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    margin-left: 20px;
}

.checkmark-circle {
    width:35px;
    height:35px;
    background-color: rgb(231, 233, 235);
    border-radius:50%;
}

.checkmark-stem {
    position: absolute;
    width: 2px;
    height: 17px;
    background-color: rgb(167, 167, 167);
    left: 20px;
    top: 6px;
}

.checkmark-kick {
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: rgb(167, 167, 167);
    left: 12px;
    top: 23px;
}