.complete-tasks__container {
    width: 375px;
    height: fit-content;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}