.home__body {
    background-color: rgb(244, 247, 250);
    width: 375px;
    height: 654px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.home__body::-webkit-scrollbar {
    display: none;
}
